<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>W-SAFE | Women Safety</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<section class="hero">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1>W-SAFE</h1>
        <p>Your safety. Our priority.<br>
           One click can save a life.</p>

        <div class="hero-buttons">
            <a href="/login" class="btn login-btn">Login</a>
            <a href="/register" class="btn register-btn">Register</a>
        </div>
    </div>
</section>

</body>
</html>
